:root{
    --baseColor:#CB162B;
    --secBColor:#1B294E;
    --thrdBColor:#FFD21D;
}

.homeSection{
    padding: 1rem;
    max-height: 85vh;
    overflow-y: scroll;
}
.postings{
    padding: 1.5rem;
}

.searchBar{
    margin: 0;
    padding: .5rem .75rem;
}