@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Grandstander:wght@100..900&family=Delius&family=Gloria+Hallelujah&display=swap');

:root {
    --titles: 'Bangers', cursive;
    --pharagraphs: 'Grandstander', cursive;
    --messages: 'Delius', cursive;
    --subtitles: 'Gloria Hallelujah', cursive;

    --baseColor:#CB162B;
    --secBColor:#1B294E;
    --thrdBColor:#FFD21D;
}

.title {
    font-family: var(--titles);
    font-size: 2.5rem;
    user-select: none;
}
.pharagraph {
    font-family: var(--pharagraphs);
}
.message {
    font-family: var(--messages);
}
.subtitle {
    font-family: var(--subtitles);
}

.actBox{
    background-color: var(--thrdBColor);
    font-family: var(--subtitles);
    text-align: center;
    padding: .5rem  1rem;
    border: solid 5px black;
    width: fit-content;
}
.btn_act{
    border:none;
    padding: .25rem 1.5rem;
    font-size: 1.5rem;
    font-family: var(--titles);
    background-color: var(--thrdBColor);
    box-shadow: 5px 5px var(--baseColor);
    width: fit-content;
}
.btn_act:hover{
    background-color: var(--baseColor);
    box-shadow: 5px 5px var(--thrdBColor);
    color: white;
}
.userAct{
    position: absolute;
    bottom: 13%;
}
.closeInteraction{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 2rem;
    font-family: var(--titles);
    color: black;
    cursor: pointer;
    padding: .25rem 1.5rem;
    width: fit-content;
    background-color: lightgrey;
    box-shadow: 5px 5px black;
}
.closeInteraction:hover{
    background-color: var(--baseColor);
}
input{
    border:none;
    background-color: white;
    padding: .5rem 1rem;
    transform: skewX(-10deg);
    position: relative;
}
input:focus{
    outline: none;
    border: solid 2px var(--thrdBColor);
} 

.closeMenu{
    visibility: hidden;
    opacity: 0;
}


.section{
    border: solid 5px black;
    background-color: grey;
    padding: 1rem 0;
}
.active{
    background-color: var(--baseColor);
    box-shadow: 5px 5px var(--thrdBColor);
}